<aside>
    <div class="inner">
        <div class="user-profile">
            <div class="picture">
                <img src="assets/img/laura.jpg">
            </div>
            <div class="data">
                <p><strong>Working Directory</strong></p>
                <p>Laura's dev log</p>
            </div>
        </div>
    
        <div class="widget navigation">
            <p>meta</p>
            <ul>
                <li id="blog"><a href="index.html">blog</a></li>
                <li id="contact"><a href="contact.html">contact / legal</a></li>
                <li id="feed"><a href="feed.xml">RSS Feed</a></li>
            </ul>
        </div>

        <div class="widget navigation">
            <p>my projects</p>
            <ul id="menu-projects" class="menu">
                <li><a href="https://github.com/lauratheq/lazywp/">lazywp</a></li>
                <li><a href="https://github.com/lauratheq/cauldron">Cauldron</a></li>
                <li><a href="https://github.com/lauratheq/advanced-network-management">Advanced Network Management</a></li>
                <li><a href="https://github.com/lauratheq/lste">Lauras Simple Template Engine</a></li>
            </ul>
        </div>
    
        <div class="widget navigation">
            <p>blogroll</p>
            <ul id="menu-blogroll" class="menu">
                <li><a href="https://notiz.blog/">Matthias Pfefferle</a></li>
                <li><a href="https://florianbrinkmann.com/">Florian Brinkmann</a></li>
                <li><a href="https://maja-benke.de/">Maja Benke</a></li>
                <li><a href="https://www.caroleolinger.com/">Carole Olinger</a></li>
                <li><a href="https://licobi-design.de/">Birgit Olzem</a></li>
                <li><a href="https://simon.blog/">Simon Kraft</a></li>
            </ul>
        </div>
    </div>
</aside>
